
:root
{
  --bs-link-hover-color: #26ff00 !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.link2
{
  text-decoration: none !important;
  color: black !important;
}
.link3
{
  text-decoration: none !important;
}
.pointer
{
  cursor: pointer !important;
}
.star
{
  color: rgb(225, 225, 21);
}
.linkss:hover
{
  border-style: solid;
  border-color: #26ff00;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px ;
  border-bottom-right-radius: 13px ;
  border-bottom-left-radius: 13px ;
}
.addbtn
{
  opacity: 0;
  transition: 0.5s;
  transform: translateY(100%);
  
}
.linkss:hover .addbtn
{
  opacity: 1;
  transform: translateY(0%);
  transition: 0.5s ;
}
.imga
{
  width: 100px !important;
}
.spin
{
  left: 0;
  top: -2.2%; 
  position: absolute;

}
.main
{
  background-color: rgb(232, 232, 232);
}
.btnRemove
{
  border: none;
  background-color: transparent;
}

.clearBtn:hover .clear
{
color: white !important;

}
.clear
{
  transition: 0.1s;
}
@media screen and (min-width:0px) and (max-width:993px)
{
.categor h2 
{
  font-size: 80%;
}
.categor img
{
  height: 150px !important;
  width: 80px !important;
  padding: 10px !important;
}
.categor
{
 
  text-align: center !important;

}

}
@media screen and (min-width:250px) and (max-width:284px)
{
.categor h2 
{
  font-size: 35%;
}
.categor img
{
  height: 100px !important;
  width: 30px !important;
  padding: 0px !important;
}
.categor
{
 
  text-align: center !important;

}

}
@media screen and (min-width:370px) and (max-width:530px)
{
.categor h2 
{
  font-size: 55%;
}
.categor img
{
  height: 100px !important;
  width: 30px !important;
  padding: 0px !important;
}
.categor
{
 
  text-align: center !important;

}

}
.Shop
{
  top: -100%;
  right: 50%;

}